.ant-upload-list {
    max-height: 400px !important;
    overflow-y: auto;
}

.resource-list {
    max-height: calc(100vh - 220px) !important;
}

.search-res-list {
    max-height: calc(100vh - 460px) !important;
}

.chat-content {
    max-height: calc(100vh - 204px) !important;
}

.chat-markdown {

    font-size: 0.875rem;

    /* 标题 h1 */
    h1 {
        font-size: 1.3rem;
        /* 比较大的字体 */
        font-weight: bold;
        margin-top: 0.75rem;
        margin-bottom: 0.35rem;
        /* 标题下方的间距 */
        /* 设置标题颜色 */
    }

    /* 标题 h2 */
    h2 {
        font-size: 1.2rem;
        /* 次级标题大小 */
        font-weight: bold;
        margin-top: 0.75rem;
        margin-bottom: 0.35rem;
    }

    /* 标题 h3 */
    h3 {
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 0.75rem;
        margin-bottom: 0.35rem;
    }

    /* 段落 p */
    p {
        /* 基础段落大小 */
        margin-top: 0.35rem;
        margin-bottom: 0.35rem;
        /* 段落底部间距 */
    }

    /* 加粗文本 */
    strong {
        font-weight: bold;
    }

    /* 斜体文本 */
    em {
        font-style: italic;
    }

    /* 列表 ul 和 ol */
    ul,
    ol {
        margin-left: .675em;
        /* 左侧缩进 */
    }

    /* 列表项 li */
    li {
        line-height: 1.25;
        margin-top: 0.35rem;
        margin-bottom: 0.35rem;
    }

    /* 引用块quote */
    blockquote {
        font-size: 1.125rem;
        font-style: italic;
        color: #7f8c8d;
        border-left: 4px solid #ccc;
        padding-left: 16px;
        margin-left: 0;
        margin-right: 0;
    }

    /* 超链接 */
    a {
        color: #2980b9;
        /* 设置链接颜色 */
        text-decoration: none;
        /* 去除下划线 */
    }

    a:hover {
        text-decoration: underline;
        /* 鼠标悬停时显示下划线 */
    }
}